@import "./imports/_normalize.scss";

/* SASS VARIABLES */
$blue-color: #73bcea;
$pink-color: #e576a9;
$yellow-color: #e2af76;
$grey-color: #dddada;


/* BASE STYLES ....................*/
* { 
   box-sizing: border-box;
   font-family: "Roboto", sans-serif; 
}
img {
   width: 100%;
   display: block;
}


/* CONTENT STYLES .................*/
// MOBILE FIRST DESIGN - If the device width is less than or equal to 479px apply the mobile view styles //

#app-container {
	   	max-width: 100%;
	   	border: 1px solid $blue-color;
		margin: 3% auto;
		display: block;
		font-size: 0;
		

	.tshirt-container {
		width: 90%;
		border: 1px solid $pink-color;
		margin: 2% auto;
		height: 60vh;
		display: block;
		font-size: medium;
	}
}

// WEB RESPONSIVE STYLES..........//

// TABLET VIEW - If the device width is greater than 401px and less than 700px apply the tablet view styles //
@media screen and (min-width: 480px) {
	#app-container {
		font-size: 0;

		.tshirt-container {
			width: 42%;
			border: 1px solid $pink-color;
			margin: 5% 4%;
			display: inline-block;
			font-size: initial;
			transition: all 1s ease;
		}

		.pink-tshirt {
			margin-left: 4%;
		}
	}
}


// DESKTOP VIEW //
@media screen and (min-width:781px) {
	#app-container {
		font-size: 0;

		.tshirt-container {
			width: 29.33%;
			border: 1px solid $pink-color;
			margin: 5% 2%;
			display: inline-block;
			font-size: initial;
			transition: all 1s ease;
		}
	}
} 