@import "./imports/_normalize.scss";

/* SASS VARIABLES */
$blue-color: #73bcea;
$pink-color: #e576a9;
$yellow-color: #e2af76;
$grey-color: #dddada;


/* BASE STYLES ....................*/
* { 
   box-sizing: border-box;
   font-family: "Roboto", sans-serif; 
}



/* CONTENT STYLES .................*/
// MOBILE FIRST DESIGN - If the device width is 0px and less than 550px apply the mobile view styles //

#app-container {
	   	max-width: 100%;
	   	border: 1px solid $pink-color;
		margin: 3% auto;
		display: block;
		font-size: 0;
		

	.tshirt-container {
		width: 90%;
		border: 1px solid $blue-color;
		margin: 5% auto;
		display: block;
		font-size: medium;
		position: relative;

		.img-flip-container {
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			height: 30px;
			border-bottom: 1px solid $blue-color;
			border-left: 1px solid $blue-color;
			color: $blue-color;
			padding: 2%;
			
			.flip-icon {
				
			}
		}

		.img-container {
		margin-top: 8px;

			img {
  				width: 100%;
   				display: block;
  				margin: auto;
  				padding: 20px;
			}
		}

		.icon-container {
			border-top: 1px solid $blue-color;
			display: flex;
			//height: 70px;

			.all-icons {
				flex: 1;
				text-align: center;
				font-size: x-large;
				padding-top: 20px;
				color: $blue-color;
				height: 60px;
			}

			.heart-icon {
				border-right: 1px solid $blue-color;
				border-left: 1px solid $blue-color;
			}

			.size-icon {
				border-right: 1px solid $blue-color;
				padding-top: 15px;
			}

			.color-icon {
				border-right: 1px solid $blue-color;
			}
		}
	}
}

// WEB RESPONSIVE STYLES..........//

// TABLET VIEW - If the device width is greater than 550px, apply the tablet view styles //
@media screen and (min-width: 550px) {
	#app-container {
		font-size: 0;

		.tshirt-container {
			width: 42%;
			border: 1px solid $pink-color;
			margin: 5% 4%;
			display: inline-block;
			font-size: initial;
			transition: all 0.5s ease;
		}

		.pink-tshirt {
			margin-left: 4%;
		}
	}
}


// DESKTOP VIEW - If the device width is greater than 880px, apply the desktop view styles //
@media screen and (min-width: 880px) {
	#app-container {
		font-size: 0;

		.tshirt-container {
			width: 29.33%;
			border: 1px solid $pink-color;
			margin: 5% 2%;
			display: inline-block;
			font-size: initial;
			transition: all 0.5s ease;
		}
	}
} 